/* ejemplo2.css   CP17005  */
pais {background-color:blue; font-family:Comic Sans MS}
departamento {background-color:red; display:block;} 
cabecera {color:yellow; display:block; }
habitantes {color:yellow;  display:block;}
altura {color:yellow;  display:block;}
